@page "/"
@using CrossStitchApp.Models
@using System.Text.Json
@using System.Text.Json.Serialization
@using MudBlazor.Utilities
@inject IJSRuntime JSRuntime
@inject IDialogService DialogService
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<PageTitle>Cross Stitch App</PageTitle>

<MudThemeProvider Theme="theme" />
<MudDialogProvider CloseButton="true" />
<MudSnackbarProvider />

<style>
    html {
        background-color: @backgroundColor !important;
        font-family: sans-serif;
    }

    table {
        border-spacing: 0;
        border-collapse: collapse;
        @(string.IsNullOrWhiteSpace(color) ? "cursor: url(\"eraser.svg\"), auto;" : "cursor: url(\"pencil.svg\"), auto;")
    }

    td {
    @(showGrid ? $"border: solid {gridColor} 1px;" : "");
        min-width: @(cellSize)px;
        height: @(cellSize)px;
    }

    .stitched {
        background-image: url(/cross.svg) !important;
        background-size: 100% 100%;
        background-repeat: no-repeat !important;
        background-position: center !important;
    }

    .main {
        max-height: 90vh;
        max-width: 100vw;
        overflow-x: scroll;
        overflow-y: scroll;
        user-select: none;
        
    }
</style>

<script>
    window.downloadFileFromStream = async (fileName, contentStreamReference) => {
        const arrayBuffer = await contentStreamReference.arrayBuffer();
        const blob = new Blob([arrayBuffer]);
        const url = URL.createObjectURL(blob);
        const anchorElement = document.createElement('a');
        anchorElement.href = url;
        anchorElement.download = fileName ?? '';
        anchorElement.click();
        anchorElement.remove();
        URL.revokeObjectURL(url);
    }
</script>

<MudToolBar WrapContent Dense Style="width: 100vw; height: 9vh; overflow-y: scroll">
     <MudHidden Breakpoint="Breakpoint.SmAndDown">
         <MudButtonGroup  Variant="Variant.Outlined" class="mr-2">
             <MudButton Disabled="@(gameState == "draw")" EndIcon="@Icons.Material.Filled.Brush" OnClick="@( () => SetGameState("draw"))">Draw</MudButton>
             <MudButton Disabled="@(gameState == "stitch")"  EndIcon="@CustomIcons.Stitch" OnClick="@( () => SetGameState("stitch"))">Stitch</MudButton>
         </MudButtonGroup>

         <MudButtonGroup Variant="Variant.Outlined" class="mr-2">
             <MudButton Disabled="@(!History.Any())"  EndIcon="@Icons.Material.Filled.Undo" OnClick="Undo">Undo</MudButton>
             <MudButton EndIcon="@Icons.Material.Filled.Clear" OnClick="@( ()=> ResetGrid(true))">Clear</MudButton>
         </MudButtonGroup>

         <MudButtonGroup Variant="Variant.Outlined" class="mr-2">
             <MudButton EndIcon="@Icons.Material.Filled.SwipeUpAlt" OnClick="@(() => ShiftGrid(1,0))">up</MudButton>
             <MudButton EndIcon="@Icons.Material.Filled.SwipeDownAlt" OnClick="@(() => ShiftGrid(-1,0))">down</MudButton>         
             <MudButton EndIcon="@Icons.Material.Filled.SwipeLeftAlt" OnClick="@(() => ShiftGrid(0,1))">left</MudButton>
             <MudButton EndIcon="@Icons.Material.Filled.SwipeRightAlt" OnClick="@(() => ShiftGrid(0,-1))">right</MudButton>
         </MudButtonGroup>

     </MudHidden>
     <MudHidden Invert Breakpoint="Breakpoint.SmAndDown">
         <MudButtonGroup Size="Size.Small" Variant="Variant.Outlined">
             <MudIconButton Disabled="@(gameState == "draw")" Icon="@Icons.Material.Filled.Brush" OnClick="@( () => SetGameState("draw"))" />
             <MudIconButton Disabled="@(gameState == "stitch")" Icon="@CustomIcons.Stitch" OnClick="@( () => SetGameState("stitch"))" />
         </MudButtonGroup>
         
        <MudButtonGroup Size="Size.Small" Variant="Variant.Outlined">
             <MudIconButton Disabled="@(!History.Any())" Icon="@Icons.Material.Filled.Undo" OnClick="Undo" />
             <MudIconButton Icon="@Icons.Material.Filled.Clear" OnClick="@( ()=> ResetGrid(true))" />
        </MudButtonGroup>

         
     </MudHidden>

     <MudSpacer />
     @if (gameState == "draw")
    {
        <div class="ml-2">
            <MudAvatar Variant="Variant.Outlined" Style="@($"background-color: {color};cursor: pointer;")" Rounded @onclick="@( () => colorsDialogOpen = true)" Elevation="5"><MudIcon Icon="@CustomIcons.ColorPallet" /></MudAvatar>
            <MudAvatar Variant="Variant.Outlined" Style="cursor: pointer" Rounded="@(color != null)" Elevation="5" @onclick="@(() => SetColor(null))"> <MudIcon Icon="@CustomIcons.Erase" /> </MudAvatar>
            <MudHidden Breakpoint="Breakpoint.SmAndDown">
                @foreach (var colorCode in colors)
                {
                    <MudAvatar Variant="Variant.Outlined" Rounded="@(color != colorCode)" Elevation="5" @onclick="@(() => SetColor(colorCode))" Style="@($"background-color: {colorCode};cursor: pointer;")" > <MudIcon /> </MudAvatar>
                }
            </MudHidden>
         </div>
        
         @* <MudButton Size="Size.Small" Variant="Variant.Outlined" EndIcon="@CustomIcons.FloodFill" OnClick="@(() => floodFillActive = true)">Flood Fill</MudButton> *@

    }

    <MudSpacer />

    <MudButtonGroup Variant="Variant.Outlined">

        <MudIconButton  Icon="@Icons.Material.Filled.Keyboard" OnClick="@( () => viewKeyBindingsDialogOpen = true)" />
        <MudIconButton  Icon="@Icons.Material.Filled.Save" OnClick="@( () => savesDialogOpen = true)" />
        <MudIconButton  Icon="@Icons.Material.Filled.Settings" OnClick="@( () => settingsDialogOpen = true)" />
    </MudButtonGroup>

</MudToolBar>

<MudDialog @bind-IsVisible="settingsDialogOpen">
    <TitleContent>
        <MudText Typo="Typo.h6">Settings</MudText>
    </TitleContent>
    <DialogContent>
        <MudStack Row>
            <MudNumericField Min="1" Max="500" @bind-Value="gridHeight" Label="Grid Height" />
            <MudNumericField Min="1" Max="500" @bind-Value="gridWidth" Label="Grid Width" />
            <MudNumericField Min="1" Max="500" @bind-Value="cellSize" Label="Cell Size" />
        </MudStack>
        Background Colour:
        <MudInput DisableUnderLine Class="ml-2" Style="width:10em; height: 5em" InputType="InputType.Color" @bind-Value="backgroundColor" />
        <MudCheckBox @bind-Value="showGrid">Show Grid</MudCheckBox>
        <MudCheckBox @bind-Value="showStitchesInDrawMode" > Show Stitches in Drawing Mode?</MudCheckBox>

        <MudText Typo="Typo.h6">Click to hide colour from grid:</MudText>
        <MudButton Variant="Variant.Outlined" OnClick="() => hiddenColors = new()">Show All</MudButton>
        <MudButton Variant="Variant.Outlined" OnClick="InvertHiddenColors">Invert Selection</MudButton>
            <MudGrid Class="my-2">
                @foreach (var colorCode in colors)
                {
                    <MudItem>
                    @if (hiddenColors.Contains(colorCode))
                    {
                        <MudAvatar Class="stitched" Variant="Variant.Outlined" Rounded Elevation="10" @onclick="() => ToggleHiddenColor(colorCode)" Style="@($"background-color: {colorCode}")" />
                    }
                    else
                    {
                        <MudAvatar Variant="Variant.Outlined" Rounded @onclick="() => ToggleHiddenColor(colorCode)" Style="@($"background-color: {colorCode}")" />
                    }
                </MudItem>
                }
            </MudGrid>

            <MudHidden Invert Breakpoint="Breakpoint.SmAndDown">
                 <MudButtonGroup Variant="Variant.Outlined" class="mr-2">
                     <MudButton EndIcon="@Icons.Material.Filled.SwipeUpAlt" OnClick="@(() => ShiftGrid(1,0))">up</MudButton>
                     <MudButton EndIcon="@Icons.Material.Filled.SwipeDownAlt" OnClick="@(() => ShiftGrid(-1,0))">down</MudButton>         
                     <MudButton EndIcon="@Icons.Material.Filled.SwipeLeftAlt" OnClick="@(() => ShiftGrid(0,1))">left</MudButton>
                     <MudButton EndIcon="@Icons.Material.Filled.SwipeRightAlt" OnClick="@(() => ShiftGrid(0,-1))">right</MudButton>
                 </MudButtonGroup>
            </MudHidden>
     </DialogContent>
 </MudDialog>

 <MudDialog @bind-IsVisible="importDialogOpen">
     <TitleContent><MudText Typo="Typo.h6">Import save from text</MudText></TitleContent>
     <DialogContent>
         <MudTextField Variant="Variant.Outlined" @bind-Value="imported" />
         <MudButton Disabled="@(String.IsNullOrWhiteSpace(imported))" Variant="Variant.Outlined" OnClick="Import">Import</MudButton>
     </DialogContent>
 </MudDialog>

 <MudDialog @bind-IsVisible="savesDialogOpen">
     <TitleContent>
         <MudStack Row>
             <MudText Typo="Typo.h6">Saves</MudText>
             <MudButton Variant="Variant.Outlined" EndIcon="@Icons.Material.Filled.ImportExport" OnClick="@( ()=> importDialogOpen = true)">Import</MudButton>
         </MudStack>
     </TitleContent>
     <DialogContent>
         
         <MudStack Row>
            <MudTextField Variant="Variant.Outlined" @bind-Value="newSaveName" Label="Save Name" />
            <MudButton Disabled="@(String.IsNullOrWhiteSpace(newSaveName))" Variant="Variant.Outlined" OnClick="CreateSave">Save</MudButton>
        </MudStack>


        <MudList>

            @foreach (var save in Saves.OrderByDescending(x => x.SavedDate))
            {
                <MudPaper Class="pa-1">
                    @save.Name : @save.SavedDate 
                    <MudSpacer />
                    <MudIconButton Title="Load" Icon="@Icons.Material.Filled.FitScreen" OnClick="(() => LoadSave(save))" /> 
                    <MudIconButton Title="Download" Icon="@Icons.Material.Filled.Download" OnClick="(() => DownloadSave(save))" /> 
                    <MudIconButton Title="Delete" Icon="@Icons.Material.Filled.Delete" OnClick="(() => RemoveSave(save))" />
                </MudPaper>
            }

        </MudList>
    </DialogContent>
</MudDialog>

<MudDialog @bind-IsVisible="colorsDialogOpen">
    <TitleContent><MudText Typo="Typo.h6">Colours</MudText></TitleContent>
    <DialogContent>
        <MudStack AlignItems="AlignItems.Center">
            <MudGrid>
                @foreach (var colorCode in colors)
                {
                    <MudItem>
                        <MudAvatar Size="Size.Large" Rounded="@(color != colorCode)" Elevation="5" @onclick="@(() => SetColor(colorCode))" Style="@($"background-color: {colorCode}; cursor: pointer")" />
                    </MudItem>
                }
            </MudGrid>

            <MudInput DisableUnderLine Class="ml-2" Style="width:10em; height: 5em" InputType="InputType.Color" @bind-Value="color" />

             @* <MudInput DisableUnderLine Style="width:10em; min-height: 5em" InputType="InputType.Color" @bind-Value="color" /> *@
             <MudButton Size="Size.Small" Variant="Variant.Outlined" EndIcon="@Icons.Material.Filled.Save" OnClick="@(() => colors.Add(color))">Add To Pallet</MudButton>
             <MudButton Size="Size.Small" Variant="Variant.Outlined" EndIcon="@Icons.Material.Filled.Delete" OnClick="@(() => colors.Remove(color))">Remove From Pallet</MudButton>
             <MudButton Size="Size.Small" Variant="Variant.Outlined" EndIcon="@CustomIcons.ColorPicker" OnClick="@(() => pickerActive = true)">Pick Colour From Grid</MudButton>
             
             <MudStack Row>
                <MudButton Size="Size.Small" Variant="Variant.Outlined" Style="@($"background-color: {replaceColorFrom}")" OnClick="@(()=>setReplaceColorFrom = true)">From</MudButton>
                <MudButton Size="Size.Small" Variant="Variant.Outlined" Style="@($"background-color: {replaceColorTo}")" OnClick="@(()=>setReplaceColorTo = true)">To</MudButton>
                <MudButton Size="Size.Small" Variant="Variant.Outlined" OnClick="@( () => ReplaceColors(replaceColorFrom, replaceColorTo))">Replace Colour</MudButton>
            </MudStack>
         </MudStack>
     </DialogContent>
 </MudDialog>

<MudDialog @bind-IsVisible="viewKeyBindingsDialogOpen">
    <TitleContent><MudText Typo="Typo.h6">Key Bindings</MudText></TitleContent>
    <DialogContent>
        <MudStack>
            <MudText>x : switch mode</MudText>
            <MudText>Space : Toggle draw/erase</MudText>
            <MudText>=/- : Grid Size</MudText>
            <MudText>[ / ] : Rows</MudText>
            <MudText>{ / } : Cols</MudText>
            <MudText>Arrow Keys : Shift content on grid</MudText>
        </MudStack>
    </DialogContent>
</MudDialog>

 <div class="main">
     <table id="drawingTable">
         @for (int rowIndex = 0; rowIndex < gridHeight; rowIndex++)
        {
            <tr>
                @for (int colIndex = 0; colIndex < gridWidth; colIndex++)
                {
                    var cell = grid[rowIndex][colIndex];
                    int row = rowIndex;
                    int col = colIndex;
                    string classStr = cell.Stitched ? "stitched" : "not-stitched" ?? "not-stitched";
                    if(!showStitchesInDrawMode && gameState == "draw")
                    {
                        classStr = "not-stitched";
                    }
                    string colorStr = (hiddenColors.Contains(cell.Color ?? "") ? "" : cell.Color );
                    <td  class="@classStr" style="background-color:@colorStr"  />

                }
            </tr>
        }
    </table>
</div>


@code {

    DotNetObjectReference<Home> keystrokeHandlerObjectReference;

    string? color = "#ffffff";
    Tile[][] grid = new Tile[0][];
    string gridColor = "black";
    int cellSize = 15;
    string backgroundColor_ = "#f7f7d7";
    string backgroundColor
    {
        set
        {
            backgroundColor_ = value;
            theme = new()
                {
                    Palette = new PaletteLight()
                    {
                        Background = backgroundColor_
                    }
                };
        }
        get
        {
            return backgroundColor_;
        }
    }
    bool showGrid = true;
    public static event Action<(int, int)> OnCellClicked;
    string gameState = "draw";
    bool pickerActive = false;
    bool floodFillActive = false;
    string imported = "";

    bool settingsDialogOpen = false;
    bool savesDialogOpen = false;
    bool colorsDialogOpen = false;
    bool importDialogOpen = false;
    bool viewDialogOpen = false;
    bool viewKeyBindingsDialogOpen = false;

    bool showStitchesInDrawMode = true;

    bool setReplaceColorTo = false;
    bool setReplaceColorFrom = false;
    string replaceColorTo = "";
    string replaceColorFrom = "";
    string newSaveAuthor = "";
    string newSaveName = "";
    List<SaveFile> Saves = new();
    List<(Tile, string, bool)> History = new();
    HashSet<string> colors = new()
    {
        "#ffffff",
        "#ff0000",
        "#ff6a00",
        "#ffd800",
        "#4cff00",
        "#0026ff",
        "#b200ff",
        "#000000",
    };
    HashSet<string> hiddenColors = new();


    MudTheme theme = new()
        {
            Palette = new PaletteLight()
            {
                Background = "f7f7d7"
            }
        };


    int _gridHeight = 50;
    int _gridWidth = 50;
    int gridHeight
    {
        set
        {
            _gridHeight = value;
            ResizeGrid();
        }
        get
        {
            return _gridHeight;
        }
    }
    int gridWidth
    {
        set
        {
            _gridWidth = value;
            ResizeGrid();
        }
        get
        {
            return _gridWidth;
        }
    }

    private void HandleKeystroke(KeyboardEventArgs e)
    {
        Console.WriteLine(e.Code);
    }

    void SetGameState(string State)
    {
        gameState = State;
    }

    void ReplaceColors(string replaceColorFrom, string replaceColorTo)
    {
        if (string.IsNullOrWhiteSpace(replaceColorFrom) || string.IsNullOrWhiteSpace(replaceColorTo)) return;

        for (int rowIndex = 0; rowIndex < gridHeight; rowIndex++)
        {
            for (int colIndex = 0; colIndex < gridWidth; colIndex++)
            {
                if(grid[rowIndex][colIndex].Color == replaceColorFrom)
                {
                    grid[rowIndex][colIndex].Color = replaceColorTo;
                }
            }
        }

        replaceColorFrom = "";
        replaceColorTo = "";
    }

    void SetColor(string? Color)
    {

        if (setReplaceColorFrom)
        {
            replaceColorFrom = Color;
            setReplaceColorFrom = false;
        }

        if (setReplaceColorTo)
        {
            replaceColorTo = Color;
            setReplaceColorTo = false;
        }

        color = Color;
        Console.WriteLine($"Changed color to {color ?? "eraser"}");

    }

    async Task UpdateLocalStorage()
    {
        await localStorage.SetItemAsync<List<SaveFile>>("saves", Saves);
    }

    async Task RemoveSave(SaveFile saveFile)
    {
        var res = await DialogService.ShowMessageBox(title: "Delete Save", "Are you sure you wish to delete this save file?", "Yes", "No");

        if (res != true)
        {
            return;
        }
        Saves.Remove(saveFile);
        await localStorage.SetItemAsync<List<SaveFile>>("saves", Saves);
    }

    async Task DownloadSave(SaveFile saveFile)
    {
        var data = JsonSerializer.SerializeToUtf8Bytes<SaveFile>(saveFile);
        var stream = new MemoryStream(data);
        var name = Guid.NewGuid().ToString();

        using var streamRef = new DotNetStreamReference(stream);
        Console.WriteLine("JS Invoke");

        await JSRuntime.InvokeVoidAsync("downloadFileFromStream", name, streamRef);
        Console.WriteLine("Export Finished");
    }

    async Task CreateSave()
    {
        if (String.IsNullOrWhiteSpace(newSaveName)) return;

        var saveFile = new SaveFile();
        saveFile.Data = grid;
        saveFile.Width = gridWidth;
        saveFile.Height = gridHeight;
        saveFile.Colors = colors;
        saveFile.Author = newSaveAuthor;
        saveFile.Name = newSaveName;
        saveFile.SavedDate = DateTime.Now;


        newSaveAuthor = "";
        newSaveName = "";

        Saves.Add(saveFile);
        await UpdateLocalStorage();
    }

    void LoadSave(SaveFile saveFile)
    {
        Console.WriteLine("Load Started");

        try
        {

            _gridHeight = saveFile.Height;
            _gridWidth = saveFile.Width;
            colors = saveFile.Colors;

            grid = saveFile.Data;

        }
        catch (Exception)
        {
            Console.WriteLine("Load Errored");
        }
        finally
        {
            Console.WriteLine("Load Finished");
        }
    }

    void Import()
    {
        Console.WriteLine("Import Clicked");

        if (string.IsNullOrWhiteSpace(imported)) return;
        Console.WriteLine("Import Started");

        try
        {
            var saveFile = JsonSerializer.Deserialize<SaveFile>(imported);

            if (saveFile != null)
            {
                LoadSave(saveFile);
            }


        }
        catch (Exception)
        {
            Console.WriteLine("Import Errored");
        }
        finally
        {
            imported = "";
            Console.WriteLine("Import Finished");
        }
    }

    void Undo()
    {
        if (!History.Any()) return;
        History.Last().Item1.Color = History.Last().Item2;
        History.Last().Item1.Stitched = History.Last().Item3;
        History.Remove(History.Last());
    }

    [JSInvokable("KeyPress")]
    public void KeyPress(string keyEventJson)
    {
        var keyEvent = System.Text.Json.JsonSerializer.Deserialize<KeyEvent>(keyEventJson);
        Console.WriteLine($"Code: {keyEvent.code}");

    switch (keyEvent.key)
    {
        case "ArrowLeft":
            ShiftGrid(0, 1);
            StateHasChanged();
            break;
        case "ArrowRight":
            ShiftGrid(0, -1);
            StateHasChanged();
            break;
        case "ArrowUp":
            ShiftGrid(1, 0);
            StateHasChanged();
            break;
        case "ArrowDown":
            ShiftGrid(-1, 0);
            StateHasChanged();
            break;
        case "}":
            gridHeight++;
            StateHasChanged();
            break;
        case "{":
            gridHeight--;
            StateHasChanged();
            break;
        case "]":
            gridWidth++;
            StateHasChanged();
            break;
        case "[":
            gridWidth--;
            StateHasChanged();
            break;
        case "=":
            cellSize++;
            StateHasChanged();
            break;
        case "-":
            cellSize--;
            StateHasChanged();
            break;
        case "x":
            SetGameState(gameState == "draw" ? "stitch" : "draw");
            StateHasChanged();
            break;
        case "Space":
            if (string.IsNullOrWhiteSpace(lastColor))
            {
                lastColor = color;
                SetColor(null);
            }
            else
            {
                SetColor(lastColor);
                lastColor = null;
            }
            StateHasChanged();
            break;

        }

    }

    string? lastColor = "";

    [JSInvokable]
    public static void CellClicked(int x, int y)
    {
        OnCellClicked?.Invoke((x, y));
    }

    async void CellClicked((int, int) xy)
    {
        var tile = grid[xy.Item1][xy.Item2];
        if (tile == null) return;

        if (pickerActive)
        {
            color = tile.Color ?? "#FFF";
            pickerActive = false;
            StateHasChanged();
            return;
        }

        if (floodFillActive && gameState == "draw")
        {
            FloodFill(xy.Item1, xy.Item2, color);
            floodFillActive = false;
            StateHasChanged();
            return;
        }

        if (gameState == "draw")
        {
            if (tile.Color == color) return;
            History.Add((tile, tile.Color, tile.Stitched));
            tile.Color = color;
        }
        else
        {
            History.Add((tile, tile.Color, tile.Stitched));
            tile.Stitched = !tile.Stitched;
        }

        StateHasChanged();

    }

    void FloodFill(int x, int y, string targetColor)
    {
        List<Tile> neighbours = new();
        int rows = gridHeight;
        int cols = gridWidth;

        if (x - 1 >= 0) neighbours.Add(grid[x - 1][y]);
        if (y - 1 >= 0) neighbours.Add(grid[x][y - 1]);
        if (y + 1 < cols) neighbours.Add(grid[x][y + 1]);
        if (x + 1 < rows) neighbours.Add(grid[x + 1][y]);

    }

    
    async Task ResetGrid(bool confirm = true)
    {
        if (confirm)
        {
            var res = await DialogService.ShowMessageBox(title: "Reset Page?", "Are you sure you wish to reset the page? All progress not saved will be lost!", "Yes", "No");

            if (res != true)
            {
                return;
            }
        }

        grid = new Tile[gridHeight][];
        for (int i = 0; i < gridHeight; i++)
        {
            grid[i] = new Tile[gridWidth];
            for (int j = 0; j < gridWidth; j++)
            {
                grid[i][j] = new Tile();
            }
        }
    }

    async void ResizeGrid()
    {
        var newGrid = new Tile[gridHeight][];
        for (int i = 0; i < gridHeight; i++)
        {
            newGrid[i] = new Tile[gridWidth];
            for (int j = 0; j < gridWidth; j++)
            {
                try
                {
                    newGrid[i][j] = grid[i][j];
                }
                catch (Exception)
                {
                    newGrid[i][j] = new();
                }
            }
        }
        grid = newGrid;
    }

    async void ShiftGrid(int offsetY, int offsetX)
    {
        var newGrid = new Tile[gridHeight][];
        for (int i = 0; i < gridHeight; i++)
        {
            newGrid[i] = new Tile[gridWidth];
            for (int j = 0; j < gridWidth; j++)
            {
                try
                {
                    newGrid[i][j] = grid[i+offsetY][j+offsetX];
                }
                catch (Exception)
                {
                    newGrid[i][j] = new();
                }
            }
        }
        grid = newGrid;
        StateHasChanged();
    }

    void ToggleHiddenColor(string color)
    {
        if(hiddenColors.Contains(color) == true)
        {

            hiddenColors.Remove(color);
        }
        else
        {
            hiddenColors.Add(color);
        }
    }

    void InvertHiddenColors()
    {
        hiddenColors = colors.Where(x => !hiddenColors.Contains(x)).ToHashSet<string>();
    }


    public void Dispose()
    {
        OnCellClicked -= CellClicked;
        keystrokeHandlerObjectReference.Dispose();
    }


    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("Initialized");
        OnCellClicked += CellClicked;
        await ResetGrid(false);
        Saves = await localStorage.GetItemAsync<List<SaveFile>>("saves") ?? new();
        Console.WriteLine($"Loaded {Saves.Count} saves from local storage");
        keystrokeHandlerObjectReference = DotNetObjectReference.Create(this);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initializeDrawing");
            await JSRuntime.InvokeVoidAsync("setupAdvancedHotkeys", keystrokeHandlerObjectReference);
        }
    }

            private class KeyEvent
    {
        public string key { get; set; }
        public string code { get; set; }
        public bool shift { get; set; }
        public bool ctrl { get; set; }
        public bool alt { get; set; }
        public bool meta { get; set; }
    }
}
